.form-name{
    /* margin: 2rem;     */
    display: flex;
    flex-direction: column;
    
}
.button{
    margin-top: 1rem
}

.form{
    
    background: #333;
    width: 400px;
    height: 400px;
    border-radius: 6px;
    padding: 2rem;
    color: #aaa;
    box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2),
      0 0 1rem rgba(0,0,0,0.2);
    margin-left: 40px

}


/* .forms{
    background-color: #aaa;
    display: flex;
    flex-direction: row;
    
}
.form2{
    display: flex;
    flex-direction: row;
    padding: 30px
    
} */
