/* .form-name{
    margin: 2rem;    
    display: flex;
    flex-direction: column;
    
}


.forms{
    background-color: #aaa;
    display: flex;
    flex-direction: row;
    
}
.form2{
    display: flex;
    flex-direction: row;
    padding: 30px
    
} */


.formes{
    display: flex;
    flex-direction: row;
}   